---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from "astro:content";
const projects = await getCollection('projects');
---

<Layout title="Projects">
        <div>
                <ul id="projects" class="collection-entries-list">
                    {projects.map(project => (
                        <li class="project collection-entry">
                                <div>
                                        <div class="nobr" nowrap>
                                                <nobr>
                                                        <h2>
                                                                <a href={`/projects/${project.slug}`}>{project.data.title}</a>
                                                                -
                                                                [<span x-data={`{ links: "${project.data["authors"].map(author => (`<a href='/authors/${author.toLowerCase().replace(/ /g, "-")}'>${author}</a>`)).join(", ")}" }`} x-html="links"/>]
                                                        </h2>
                                                </nobr>
                                        </div>
                                        <p>{project.data.description}</p>
                                </div>
                        </li>
                    ))}
                </ul>
        </div>
</Layout>

<style>
        .nobr {
                white-space: nowrap;
        }
        #projects {
                list-style: none;
                padding: 0;
        }
        #projects .project {
                margin: 1rem 0;
        }
        #projects .project a {
                text-decoration: none;
                color: inherit;
        }
        #projects .project a:hover {
                text-decoration: underline;
        }
        #projects .project h2 {
                font-size: 3rem;
                font-weight: 700;
        }
</style>
