---
export interface Props {
	title: string;
}

import '../../styles/global.scss'
import 'primeicons/primeicons.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!--<link rel="icon" type="image/svg+xml" href="/favicon.svg" />-->
		<link href="/styles/prism.css" rel="stylesheet" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body x-data="{ menu_open: false }">
		<header>
			<div id="menu-toggle" @click="menu_open = ! menu_open">
				<span class="pi pi-bars" style="font-size: 2rem" />
			</div>
			<div id="title">
				<h1>{title}</h1>
			</div>
		</header>
		<div x-show="menu_open" x-transition @click.outside="menu_open = false" id="menu">
			<a href="tttt">About</a>
			<a href="tttt">Services</a>
			<a href="tttt">Clients</a>
			<a href="tttt">Contact</a>
		</div>
		<div id="space-top" />
		<slot />
	</body>
</html>
