---
export interface Props {
	title: string;
}

import '../../styles/global.scss'

import { Icon } from 'astro-icon'

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!--<link rel="icon" type="image/svg+xml" href="/favicon.svg" />-->
		<link href="/styles/prism.css" rel="stylesheet" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<div id="menu-toggle"><Icon pack="mdi" name="menu"/></div>
			<div id="title">
				<h1>{title}</h1>
			</div>
		</header>
		<div id="space-top" />
		<slot />
	</body>
</html>
