[x-cloak] { display: none !important; }
:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  --accent-gradient-genderfluid: linear-gradient(90deg, rgba(255,118,164,1) 0%, rgba(255,255,255,1) 25%, rgba(192,17,215,1) 50%, rgba(0,0,0,1) 75%, rgba(47,60,190,1) 100%);
  --accent-gradient-genderfluid-2: linear-gradient(90deg, rgba(255,118,164,1) 0%, rgba(255,118,164,1) 20%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 40%, rgba(192,17,215,1) 40%, rgba(192,17,215,1) 60%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 80%, rgba(47,60,190,1) 80%, rgba(47,60,190,1) 100%);
}
html {
  font-family: system-ui, sans-serif;
  body {
    background-color: #331144;
    header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background-image: var(--accent-gradient-genderfluid-2);
      display: flex;
      box-shadow: 0 5px 5px #000000;
      margin-bottom: 100px;
      #menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
      #spacer-header {
        width: 50px;
        height: 50px;
      }
      #title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        h1 {
          font-family: 'JetBrains Mono', serif;
          font-style: italic;
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          display: flex;
          align-items: center;
          text-align: center;
        }
      }
    }

    #menu {
      position: fixed;
      top: 50px;
      left: 0;
      width: 15rem;
      height: 100%;
      background-color: rebeccapurple;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 5px 5px 5px #000000;
      a {
        font-family: 'JetBrains Mono', serif;
        font-style: italic;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 20px;

        &:hover {
          color: #da62c4;
        }
      }
    }

    #space-top {
      height: 50px;
    }
  }
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}